{% extends 'core/home.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">


    <h1>Cadastrar Categorias</h1>
     <button class="styled-button" onclick="window.location.href='{% url 'categoria_form' %}'">
    Cadastrar
    </button>

    <h1>Lista de Categorias</h1>

<div class="group">
  <input id="searchInput" placeholder="Search" type="search" class="input">
</div>


    <table id="categoriaTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in object_list %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nome }}</td>
                    <td>
{#                        <form method="get" action="{% url 'update' categoria.id %}">#}
{#                            <button type="submit" class="buttoneditar">Alterar</button>#}
{#                        </form>#}
                        <button class="Btn" onclick="window.location.href='{% url 'update' categoria.id %}'">Alterar
                        </button>

                    </td>
                    <td>
                            <button class="Btn" onclick="window.location.href='{% url 'delete' categoria.id %}'">Excluir
                        </button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <script>
document.getElementById('searchInput').addEventListener('keyup', function() {
    const filter = this.value.toLowerCase();
    const rows = document.querySelectorAll('#categoriaTable tbody tr');

    rows.forEach(row => {
        const nome = row.cells[1].textContent.toLowerCase();
        if (nome.includes(filter)) {
            row.style.display = ''; // Mostrar a linha
        } else {
            row.style.display = 'none'; // Esconder a linha
        }
    });
});
</script>


{% endblock %}
