{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Home Page</title>
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Dashboard</div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#settings">Settings</a></li>
            </ul>
            <div class="user-info">
                <img src="https://i.pravatar.cc/40" alt="User Avatar" class="avatar">
                <span class="username">Taldo</span>
            </div>
        </nav>
    </header>

    <main>
        <h1>Overview dos Produtossssssss</h1>
        <h1>Overview dos Produtossssssss</h1>

            <button class="button-submit">Cadastrar</button>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Alice Johnson</td>
                    <td>alice@example.com</td>
                    <td>Active</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Bob Smith</td>
                    <td>bob@example.com</td>
                    <td>Inactive</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Charlie Brown</td>
                    <td>charlie@example.com</td>
                    <td>Active</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Diana Ross</td>
                    <td>diana@example.com</td>
                    <td>Active</td>
                </tr>
            </tbody>
        </table>
    </main>

    <footer>
        <p>&copy; 2023 Dashboard Inc. All rights reserved.</p>
    </footer>
</body>
</html>

